<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Force Console</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/view">View</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/add">Add</a>
            </li>
        </ul>
    </div>
</nav>
<center>
    <h3>SalesForce</h3>
    <button class="btn" type="button" {{action "get"}}>Sync</button>
    
</center>   

{{outlet}}