<web-app>
    <servlet>
		<servlet-name>InitAuth</servlet-name>
		<servlet-class>InitAuth</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>InitAuth</servlet-name>
		<url-pattern>/InitAuth</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>Elloauth</servlet-name>
		<servlet-class>Elloauth</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Elloauth</servlet-name>
		<url-pattern>/Elloauth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Key</servlet-name>
		<servlet-class>Key</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Key</servlet-name>
		<url-pattern>/Key</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Token</servlet-name>
		<servlet-class>Token</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Token</servlet-name>
		<url-pattern>/Token</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Auth</servlet-name>
		<servlet-class>Auth</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>oauthlogin</servlet-name>
		<servlet-class>oauthlogin</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>oauthlogin</servlet-name>
		<url-pattern>/oauthlogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessToken</servlet-name>
		<servlet-class>AccessToken</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/AccessToken</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reservation</servlet-name>
		<servlet-class>Reservation</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Reservation</servlet-name>
		<url-pattern>/Reservation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rooms</servlet-name>
		<servlet-class>Rooms</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Rooms</servlet-name>
		<url-pattern>/Rooms</url-pattern>
	</servlet-mapping>
</web-app>