<web-app>
    <servlet>
		<servlet-name>InitAuth</servlet-name>
		<servlet-class>InitAuth</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>InitAuth</servlet-name>
		<url-pattern>/InitAuth</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>Elloauth</servlet-name>
		<servlet-class>Elloauth</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Elloauth</servlet-name>
		<url-pattern>/Elloauth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Consent</servlet-name>
		<servlet-class>Consent</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>Consent</servlet-name>
		<url-pattern>/Consent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>oauthlogin</servlet-name>
		<servlet-class>oauthlogin</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>oauthlogin</servlet-name>
		<url-pattern>/oauthlogin</url-pattern>
	</servlet-mapping>
</web-app>