<center>
    {{this.scope}}
    <h5>Consent Screen</h5>
    <b>Do you want to allow access to {{this.scoped}}??</b>
    <a href = "http://localhost:8080/lorduoauth/Elloauth">Allow</a>
</center>
{{outlet}}