<center>
    <h5>Oauth Login</h5>
    <form class = "rou">
		
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" id = "email" name="email"></td>
			</tr>
            <tr>
				<td>Lastname</td>
				<td><input type="text" id = "lname" name="email"></td>
			</tr>
            
		</table>
        <center><button class = "but" type = "submit" {{action "get"}}>Login</button></center>

	</form>
</center>



